<%- include("./partials/header") %>

<!-- Content -->
<section>
    <h1 class="sport-headding">Add <i class="fab fa-hotjar hot-flame"></i> HOT <i class="fas fa-futbol"></i> Football
        Forecasts/ Hockey(ask vuicho)</h1> <!-- Start of table  -->
    <form action="/hot/new" method="POST">
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Host</th>
                    <th scope="col">Guest</th>
                    <th scope="col">Coef</th>
                    <th scope="col">Forecast</th>
                </tr>
            </thead>
            <tbody>
                <% var id=0 %>
                <tr>
                    <td><input type="datetime-local" name="row[date]" required></td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[host]" placeholder="Host" required>
                    </td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[guest]" placeholder="Guest" required>
                    </td>
                    <td><input type="number" name="row[coef]" placeholder="Coef" min="1" step="0.01" required></td>
                    <td><input type="text" name="row[forecast]" placeholder="Forecast" required></td>
                    <% id++ %>
                </tr>
                <tr>
                    <td><input type="datetime-local" name="row[date]" required></td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[host]" placeholder="Host" required>
                    </td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[guest]" placeholder="Guest" required>
                    </td>
                    <td><input type="number" name="row[coef]" placeholder="Coef" min="1" step="0.01" required></td>
                    <td><input type="text" name="row[forecast]" placeholder="Forecast" required></td>
                    <% id++ %>
                </tr>
                <tr>
                    <td><input type="datetime-local" name="row[date]" required></td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[host]" placeholder="Host" required>
                    </td>
                    <td>
                        <select name="flag">
                            <option value="https://upload.wikimedia.org/wikipedia/en/9/9a/Flag_of_Spain.svg">
                                Flag_of_Spain
                            </option>
                            <option value="https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg">
                                Flag_of_England
                            </option>
                        </select>
                        <input type="text" name="row[guest]" placeholder="Guest" required>
                    </td>
                    <td><input type="number" name="row[coef]" placeholder="Coef" min="1" step="0.01" required></td>
                    <td><input type="text" name="row[forecast]" placeholder="Forecast" required></td>
                    <% id++ %>
                </tr>
            </tbody>
        </table>
        <input type="number" name="id" style="display: none;" value="<%= id %>">
        <!-- End of table  -->
        <button class="btn btn-lg btn-success">Submit</button>
    </form>
</section>

<%- include("./partials/footer") %>